<!-- About Section -->
<div class="flipcards">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="../../../assets/images/Mission.svg"
          alt="Avatar"
          style="width: 280px; height: 280px"
        />
      </div>
      <div class="flip-card-back">
        <img
          src="../../../assets/images/MissionStatement.png"
          alt="s"
          style="width: 280px; height: 280px"
        />
      </div>
    </div>
  </div>
  <br /><br /><br />
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="../../../assets/images/Vision.svg"
          alt="Avatar"
          style="width: 280px; height: 280px"
        />
      </div>
      <div class="flip-card-back">
        <img
          src="../../../assets/images/VisionStatement.png"
          alt="s"
          style="width: 280px; height: 280px"
        />
      </div>
    </div>
  </div>
  <br /><br /><br />
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="../../../assets/images/Goal.svg"
          alt="Avatar"
          style="width: 280px; height: 280px"
        />
      </div>
      <div class="flip-card-back">
        <img
          src="../../../assets/images/GoalStatement.png"
          alt="s"
          style="width: 280px; height: 280px"
        />
      </div>
    </div>
  </div>
</div>
