<!-- Home Section -->
<main>
    <div class="home-container">
      <div class="home-content">
        <img class="console-img" src="../../../assets/images/video game console.png" width="380">
        <li><a href="/create-survey" id="home-survey-button" class="nav-item nav-item-btn">Create Survey</a></li>
      </div>
      <div class="home-content-2">
        <p class="list-item-home">Create a survey in 3 simple steps:</p>
          <br>
        <ol style>
            <li class="list-item-home">1. Login </li>
            <li class="list-item-home">2. Create Survey</li>
            <li class="list-item-home">3. View Final Results</li>
        </ol>
      </div>
    </div>
</main>
