/* Take Survey Section */
.take-survey {
  text-align: center;
  position: absolute;
  top: 48rem;
  right: 50%;
  transform: translate(50%, -50%);
  height: 120%;
  background: #c7c7c7;
  border-radius: 40px;
  width: 500px;
  margin-bottom: 10rem;
  padding: 1rem;
}

.survey-title {
  padding: 20px;
  font-size: 1.7rem;
}

.survey-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.survey-options label {
  position: relative;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
  white-space: nowrap;
}

.surveyInput {
  padding: 0 15px;
  margin-top: 8px;
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  outline: none;
  position: relative;
}

.survey-questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50rem;
}

.survey-questions input {
  width: 420px;
  height: 35px;
  padding: 0 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  outline: none;
  margin-top: 8px;
}

.survey-questions input::placeholder {
  color: #d3d3d3;
}

.submit {
  background-color: #a8e890;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px 15px;
  margin: auto;
  margin-right: 2rem;
  position: relative;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.cancel {
  background-color: #a8e890;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px 15px;
  margin: auto;
  position: relative;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}