<!-- Create Survey Section -->
<main>
  <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
    <div class="create-survey">
      <h3 class="survey-title" style="font-size: 2rem">Create a new survey</h3>

      <div class="survey-name">
        <label
          class="survey-titles1"
          for="surveyName"
          style="left: 17rem; top: 1.2rem"
          >SURVEY NAME:</label
        >
        <input
          formControlName="surveyName"
          class="surveyInput1"
          type="text"
          style="top: 2rem; left: 0.5rem"
        />
      </div>
      <div class="survey-options">
        <label
          class="survey-titles"
          for="startDate"
          style="left: 8rem; top: 3rem"
          >START DATE:</label
        >
        <input
          formControlName="startDate"
          class="surveyInput"
          type="datetime-local"
          style="top: 6rem; left: -5rem"
        />

        <label
          class="survey-titles"
          for="closingDate"
          style="left: 1rem; top: 3rem"
          >CLOSING DATE:</label
        >
        <input
          formControlName="closingDate"
          class="surveyInput"
          type="datetime-local"
          style="top: 6rem; left: -13rem"
        />
      </div>
      <h3 style="font-size: 1.7rem; position: relative; top: 7.5rem">
        Select Survey Type:
      </h3>

      <div class="survey-type">
        <label style="padding-right: 3rem" for="t/f"
          ><input
            type="radio"
            class="radio"
            name="radio"
            id="t/f"
            checked="checked"
            value="Tf"
            (click)="tfClick()"
          />True/False</label
        >

        <label for="shortA"
          ><input
            type="radio"
            class="radio"
            name="radio"
            id="shortA"
            (click)="shortAClick()"
            value="ShortA"
          />Short Answer</label
        >
      </div>

      <h3 style="font-size: 1.7rem; position: relative; top: 9rem">
        Questions
      </h3>
      <div class="survey-questions">
        <input
          type="text"
          formControlName="question0"
          placeholder="Question 1"
        />
        <input
          type="text"
          formControlName="question1"
          placeholder="Question 2"
        />
        <input
          type="text"
          formControlName="question2"
          placeholder="Question 3"
        />
        <input
          type="text"
          formControlName="question3"
          placeholder="Question 4"
        />
        <input
          type="text"
          formControlName="question4"
          placeholder="Question 5"
        />
      </div>
      <button class="submit" type="submit">Submit</button>
      <a href="/active-surveys" class="cancel">Cancel</a>
    </div>
  </form>
</main>
