<%- include('../partials/header'); %> <%- include('../partials/nav'); %>

<!-- Create Survey Section -->
<main>
    <form  method="post"> 

  <div class="create-survey">
    <h3 class="survey-title">Create a new survey</h3>
    <div class="survey-options">
      <label class="survey-titles" for="author" style="left: 5rem">NAME:</label>
      <input
        name="author"
        class="surveyInput"
        type="text"
        style="top: 3.5rem; left: -6.2rem"
      />

      <label class="survey-titles" for="surveyName" style="left: -2rem"
        >SURVEY NAME:</label
      >
      <input
        name="surveyName"
        class="surveyInput"
        type="text"
        style="top: 3.5rem; left: -14.5rem"
      />

      <label
        class="survey-titles"
        for="startDate"
        style="left: 5.5rem; top: 4.5rem"
        >START DATE:</label
      >
      <input
        name="startDate"
        class="surveyInput"
        type="text"
        style="top: 7.5rem; left: -6.2rem"
      />

      <label class="survey-titles" for="closingDate" style="left: -1.8rem; top: 4.5rem">CLOSING DATE:</label>
      <input name="closingDate" class="surveyInput" type="text" style="top: 7.5rem; left:  -14.5rem"/>
    </div>

    <h3 style="font-size: 1.7rem; position: relative; top: 11rem;">Questions</h3>
    <div class="survey-questions">
      <input type="text" name="questions" placeholder="Question 1">
      <input type="text" name="questions" placeholder="Question 2">
      <input type="text" name="questions" placeholder="Question 3">
      <input type="text" name="questions" placeholder="Question 4">
      <input type="text" name="questions" placeholder="Question 5">
    </div>
      <button class="submit" type="submit">Submit</button>
      <a href="/surveys/active-surveys" class="cancel">Cancel</a>

  </div>
</form>
</main>

<%- include('../partials/footer'); %> <%- include('../partials/bottom'); %>
