<!-- Register Section -->
<main>
  <!-- Message Area -->

  <!-- <div *ngIf="messages.length > 0">messages</div> -->

  <div class="containerReg">
    <div class="register">
      <h3 class="project-name">Surveylance</h3>
      <form
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
        style="margin-top: 50px"
      >
        <label class="regLabel">USERNAME:</label>
        <input
          class="regInput"
          formControlName="username"
          type="text"
          style="margin-bottom: 25px"
        />
        <label class="regLabel">EMAIL:</label>
        <input
          class="regInput"
          formControlName="email"
          type="email"
          style="margin-bottom: 25px"
        />
        <label class="regLabel">DISPLAY NAME:</label>
        <input
          class="regInput"
          formControlName="displayName"
          type="text"
          style="margin-bottom: 25px"
        />
        <label class="regLabel">PASSWORD:</label>
        <input
          class="regInput"
          formControlName="password"
          type="password"
          style="margin-bottom: 50px"
        />
        <button type="submit" class="nav-item nav-item-btn sign-up">
          SIGN UP
        </button>
      </form>
    </div>
  </div>
</main>
