<!-- View Stats Section -->
<main>
  <div>
    <button class="view-button" (click)="generatePDF()">Export to PDF</button>
  </div>

  <table class="view-stats">
    <thead>
      <tr>
        <th>Participants #</th>
        <th>Answer 1</th>
        <th>Answer 2</th>
        <th>Answer 3</th>
        <th>Answer 4</th>
        <th>Answer 5</th>
      </tr>
    </thead>

    <tbody id="pdf">
      <tr>
        <td>{{ answers.length }}</td>
        <td>
          {{ (count_true[0] / (count_true[0] + count_false[0])) * 100 }}% Chose
          True
        </td>
        <td>
          {{ (count_true[1] / (count_true[1] + count_false[1])) * 100 }}% Chose
          True
        </td>
        <td>
          {{ (count_true[2] / (count_true[2] + count_false[2])) * 100 }}% Chose
          True
        </td>
        <td>
          {{ (count_true[3] / (count_true[3] + count_false[3])) * 100 }}% Chose
          True
        </td>
        <td>
          {{ (count_true[4] / (count_true[4] + count_false[4])) * 100 }}% Chose
          True
        </td>
      </tr>
    </tbody>
  </table>
</main>
